<!DOCTYPE html>
<html lang="de">
    <head>
    <meta charset="UTF-8" />
    <title>NextBike Stations Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    </head>
    <body style="margin: 0;">
        <div id="map" style="height: 100vh; width: 100%;"></div>

        <!-- Leaflet JS -->
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

        <script>
            // Map initialized with Mannheim as center
            const map = L.map("map").setView([49.4875, 8.4660], 13);

            L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
                attribution: "© OpenStreetMap contributors"
            }).addTo(map);

            fetch("/data/geo/data.geojson")
                .then(res => res.json())
                .then(data => {

                L.geoJSON(data, {
                    pointToLayer: (feature, latlng) => {
                        const bikes = Number(feature.properties.bikes || 0);
                        const free = Number(feature.properties.free_racks || 0);

                        const total = bikes + free;

                        let color = "green";

                        if (bikes === 0) {
                            color = "red";
                        } else if (total > 0 && bikes < total / 2) {
                            color = "yellow";
                        }

                        return L.circleMarker(latlng, {
                            radius: 5,
                            fillColor: color,
                            color: "#333",
                            weight: 1,
                            fillOpacity: 0.7
                        });
                    },

                    onEachFeature: (feature, layer) => {
                    const p = feature.properties;

                    layer.bindPopup(`
                        <b>${p.name || "Station"}</b><br>
                        Bikes gesamt: ${p.bikes ?? 0}<br>
                        Verfügbar: ${p.bikes_available_to_rent ?? 0}<br>
                        Freie Racks: ${p.free_racks ?? 0}
                    `);
                    }

                }).addTo(map);

                })
                .catch(err => {
                    console.error("GeoJSON could not be loaded:", err);
                });
        </script>
    </body>
</html>